.container-header {
  align-items: flex-end;
  display: flex;
  height: 210px;
  justify-content: space-evenly;
}

.container-header-currency {
  color: #003be5;
  display: flex;
}

.container-header-email {
  color: #2fc18c;
  display: flex;
}

.img-icons {
  height: 28px;
  margin-right: 15px;
  width: 28px;
}

span {
  margin-right: 8px;
}
