.container-wallet-form {
  align-items: center;
  background: rgba(255, 255, 255, 0.905);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}
